body {
  overflow: hidden;
  background-color: #1a1a1a;
  padding: 0;
  margin: 0;
  max-height: 768px; /* ipad mini 1 screen res */
}

#startScreen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: white;
}

#startCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: opacity 0.75s ease-in-out;

  > * {
    transition: opacity 0.75s ease-in-out;
  }
}

#startButtonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  transition: opacity 0.75s ease-in-out;
}

#startButton {
  background: none;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 0.5rem;
}

#startButton:hover {
  background-color: white;
  color: #0a0a0a;
}

#startButton:disabled {
  background-color: white;
  color: #0a0a0a;
}

#errors {
  display: none;
  padding: 28px;
  font-size: 14px;
  overflow-y: auto;
  height: 768px;
  color: white;
}

@media screen and (orientation: landscape) {
  body {
    width: 100vh;
    height: 100vw;
    transform-origin: 0 0;
  }
}

body.rotation-90 {
  transform: rotate(90deg) translateY(-100%);
}
body.rotation90 {
  transform: rotate(-90deg) translateX(-100%);
}
