body {
    overflow: hidden;
    background-color: black;
    padding: 0;
    margin: 0;
    max-height: 768px; /* ipad mini 1 screen res */
}


#errors {
    display: none;
    padding: 28px;
    font-size: 14px;
    overflow-y: auto;
    height: 768px;
    color: white;
}